* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 2rem;
}

body {
  font-size: 62.5%;
  font-family: "Lato";
}

/*-- media queries --*/
@media (max-width: 850px) {
  html {
    padding: 1rem;
  }
}
.header {
  width: 100%;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../images/natours-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0.1rem;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  text-align: center;
}
.header__logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.header__logo img {
  width: 6rem;
}
.header__heading {
  margin: 15rem auto 0;
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.header__title h1 {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin-bottom: 0.75rem;
}
.header__title h3 {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.65rem;
}

/*-- media queries --*/
@media (max-width: 1075px) {
  .header__title h1 {
    font-size: 4rem;
  }
  .header__title h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 850px) {
  .header__title h1 {
    font-size: 3.4rem;
  }
  .header__title h3 {
    font-size: 1.1rem;
  }
}
.navigation__button {
  position: fixed;
  top: 4.4rem;
  right: 4.4rem;
  z-index: 1000;
  border: none;
  background-color: #f7f7f7;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.navigation__button img {
  width: 2rem;
}
.navigation__button:hover {
  cursor: pointer;
}
.navigation__background {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 250;
  height: 3rem;
  width: 3rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  transition: all 0.8s;
}
.navigation__list {
  padding: 0;
  list-style: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  text-align: center;
  visibility: hidden;
  transition: opacity 0.8s;
  opacity: 0;
}
.navigation__listItem {
  margin: 1.5rem 0;
  padding: 1rem 3rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.33s;
}
.navigation__listItem:hover {
  background-position: 100%;
  cursor: pointer;
}
.navigation__listItem:hover a {
  color: #55c57a;
}
.navigation__listItem a {
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #eee;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.33s;
}

/* media queries */
@media (max-width: 850px) {
  .navigation__button {
    top: 3.1rem;
    right: 3.3rem;
  }

  .navigation__background {
    top: 3.75rem;
    right: 3.5rem;
  }
}
.tours {
  background-color: #eee;
  margin-top: -10rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tours__heading {
  margin-top: 17rem;
  background: -webkit-linear-gradient(120deg, #28b485, #7ed56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  max-width: 95%;
}
.tours__wrapper {
  width: 70rem;
  max-width: 95%;
  margin: 5rem auto 17rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.tours__info {
  width: 35rem;
  max-width: 45%;
  margin-top: 1rem;
  margin-right: 1rem;
}
.tours__info h4 {
  color: #777;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.tours__info p {
  color: #777;
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.77rem;
}
.tours__info a {
  text-decoration: none;
  color: #55c57a;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: #55c57a solid 0.1rem;
  padding-bottom: 0.3rem;
}
.tours__images {
  width: 33rem;
  position: relative;
}
.tours__images img {
  position: absolute;
}
.tours__images img:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 25;
}
.tours__images img:nth-child(2) {
  top: 6rem;
  left: 7rem;
  z-index: 20;
}
.tours__images img:nth-child(3) {
  top: 1.5rem;
  right: 0;
  z-index: 15;
}

/*-- media queries --*/
@media (max-width: 950px) {
  .tours__wrapper {
    flex-direction: column;
  }
  .tours__info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5rem;
  }
  .tours__images {
    margin-bottom: 13rem;
    width: 100%;
  }
  .tours__images img:nth-child(1) {
    top: 0;
    left: 35%;
    transform: translateX(-50%);
    z-index: 25;
  }
  .tours__images img:nth-child(2) {
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
  .tours__images img:nth-child(3) {
    top: 1.5rem;
    left: 45%;
    z-index: 15;
  }
}
@media (max-width: 725px) {
  .tours__images {
    margin-bottom: 0;
  }
  .tours__images img {
    width: 100%;
    position: initial;
    transform: translateX(0) !important;
    margin-bottom: 2.5rem;
  }
}
.info {
  height: 55rem;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../images/nature-image4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 18%, 100% 0, 100% 82%, 0% 100%);
  margin-top: -10rem;
  padding: 0.1rem;
}

.packages {
  background-color: #eee;
  padding: 0.1rem;
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.packages__heading {
  margin-top: 16rem;
  background: -webkit-linear-gradient(120deg, #28b485, #7ed56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.packages-button {
  margin-bottom: 5rem;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #55c57a;
  text-decoration: none;
  padding: 1.2rem 2.2rem;
  border-radius: 10rem;
}

.testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(rgba(238, 238, 238, 0.85), rgba(238, 238, 238, 0.85));
  overflow: hidden;
}
.testimonials h2 {
  margin-top: 9rem;
  background: -webkit-linear-gradient(120deg, #28b485, #7ed56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
.testimonials__list {
  padding: 0;
  list-style: none;
  margin-bottom: 9rem;
}
.testimonials__listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
  width: 60rem;
  height: 15rem;
  clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
}
.testimonials__listItem img {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}
.testimonials__listItem-info {
  width: 60%;
  margin-left: 1.5rem;
}
.testimonials__listItem-info h3 {
  font-size: 1.33rem;
  margin-bottom: 0.75rem;
  color: #333;
}
.testimonials__listItem-info p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: #777;
}
.testimonials__video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 100%;
}

.contact {
  background: linear-gradient(150deg, #7ed56f, #28b485);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer__logo {
  margin: 5rem 0 5rem;
}
.footer__wrapper {
  width: 65rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 5rem;
}
.footer__list {
  width: 40%;
  list-style: none;
  padding: 0;
  border-top: solid 0.05rem #999;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__listItem {
  color: #fff;
  font-size: 0.7rem;
}
.footer__listItem:hover {
  cursor: pointer;
}
.footer__info {
  width: 40%;
  border-top: solid 0.05rem #999;
  padding-top: 1rem;
}
.footer__info p {
  font-size: 0.75rem;
  color: #fff;
  line-height: 1.7rem;
}

.header__button {
  text-decoration: none;
  color: #333;
  margin: 5rem auto 0;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  display: inline-block;
  padding: 1.33rem 2.2rem;
  border-radius: 10rem;
  transition: all 0.15s;
}
.header__button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.header__button:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*-- media queries --*/
@media (max-width: 1075px) {
  .header__button {
    margin-top: 3.3rem;
  }
}
@media (max-width: 850px) {
  .header__button {
    padding: 1.1rem 2rem;
  }
}
.info-card__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 60rem;
  margin: 20rem auto 0;
  padding: 0;
  list-style: none;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 21%;
  transition: all 0.3s;
}
.info-card__icon {
  font-size: 3rem;
  margin: 2rem 0 1rem;
  background: -webkit-linear-gradient(120deg, #28b485, #7ed56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-card h3 {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  text-transform: uppercase;
}
.info-card p {
  font-size: 0.9rem;
  color: #777;
  width: 90%;
  margin: 1rem 0 1.5rem;
  line-height: 1.5rem;
}
.info-card:hover {
  cursor: pointer;
  transform: translateY(-0.75rem);
}

.packages__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 4rem 0 5rem;
  list-style: none;
  padding: 0;
  width: 65rem;
}

.package-card {
  max-width: 29%;
  min-height: 27rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s;
  text-align: center;
}
.package-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.package-card__front-header {
  background: linear-gradient(#ffbb008c, #ffbb0083), url("../../images/nature-image2.jpg");
  background-size: cover;
  background-position: center;
  height: 12rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.package-card__front-heading {
  position: absolute;
  top: 7rem;
  right: 1rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.package-card__front-heading h3 {
  background-color: rgba(255, 185, 0, 0.9);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.33rem;
  font-weight: 300;
}
.package-card__front-list {
  list-style: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}
.package-card__front-listItem {
  border-bottom: solid 0.1rem #f2f2f2;
  padding: 0.7rem 0;
}
.package-card__front-listItem span {
  font-size: 0.88rem;
  color: #333;
}
.package-card__front-listItem:last-child {
  border-bottom: none;
}
.package-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #ffb900, #ff7730);
  z-index: 1000;
}
.package-card__back span {
  display: inline-block;
  margin-top: 7rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}
.package-card__back-cost {
  font-size: 3.3rem;
  font-weight: 200;
  margin-top: 0.75rem;
  color: #fff;
}
.package-card__back-button {
  text-decoration: none;
  display: inline-block;
  margin-top: 4rem;
  background-color: #fff;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
}
.package-card:hover {
  transform: rotateY(180deg);
}

.two .package-card__front-header {
  background: linear-gradient(rgba(126, 213, 111, 0.7), rgba(126, 213, 111, 0.7)), url("../../images/nature-image4.jpg");
}
.two .package-card__front-heading h3 {
  background-color: rgba(126, 213, 111, 0.9);
}
.two .package-card__back {
  background: linear-gradient(120deg, #55c57a, #7ed56f);
}

.three .package-card__front-header {
  background: linear-gradient(rgba(41, 152, 255, 0.7), rgba(41, 152, 255, 0.7)), url("../../images/nature-image1.jpg");
}
.three .package-card__front-heading h3 {
  background-color: rgba(41, 152, 255, 0.9);
}
.three .package-card__back {
  background: linear-gradient(120deg, #5643fa, #2998ff);
}

.contact-card {
  background: url("../../images/nature-image4.jpg");
  background-position: center;
  background-size: cover;
  width: 65rem;
  height: 33rem;
  margin: 7.5rem 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
.contact__info {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  clip-path: polygon(0 0, 100% 0, 82.5% 100%, 0% 100%);
}
.contact__info h2 {
  display: inline-block;
  margin: 3rem 0 2.5rem 3rem;
  background: -webkit-linear-gradient(120deg, #28b485, #7ed56f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}
.contact__info input[type=text] {
  border: none;
  margin: 0 0 1.5rem 3rem;
  height: 3rem;
  width: 21rem;
  text-indent: 1rem;
  font-size: 0.9rem;
  outline: none;
}
.contact__info .radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 3.3rem 3rem;
  width: 20rem;
}
.contact__info .radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
}
.contact__info .radio-button input[type=radio] {
  display: none;
}
.contact__info .radio-button input[type=radio]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}
.contact__info .radio-button label {
  font-size: 0.85rem;
}
.contact__info .radio-button span {
  height: 1.5rem;
  width: 1.5rem;
  border: 0.25rem solid #55c57a;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
}
.contact__info .radio-button span:after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #55c57a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.contact__info .radio-button:hover {
  cursor: pointer;
}
.contact-button {
  margin-left: 3rem;
  text-decoration: none;
  color: #fff;
  background-color: #55c57a;
  font-size: 1.1rem;
  padding: 0.8rem 3rem;
  border-radius: 10rem;
}

/*# sourceMappingURL=index.css.map */
