* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 2rem;
}

body {
    font-size: 62.5%;
    font-family: "Lato";
}


/*-- media queries --*/
@media( max-width: 850px ) {
    html {
        padding: 1rem;
    }
} 