.navigation {
    &__button {
        position: fixed;
        top: 4.4rem;
        right: 4.4rem;
        z-index: 1000;
        border: none;
        background-color: $color-grey-light-1;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        img {
            width: 2rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__background {
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 250;
        height: 3rem;
        width: 3rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        border-radius: 50%;
        transition: all .85s;
    }
}