.navigation {
    &__button {
        position: fixed;
        top: 4.4rem;
        right: 4.4rem;
        z-index: 1000;
        border: none;
        background-color: $color-grey-light-1;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);

        img {
            width: 2rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__background {
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 250;
        height: 3rem;
        width: 3rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        border-radius: 50%;
        transition: all .8s;
    }

    &__list {
        padding: 0;
        list-style: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 300;
        text-align: center;
        visibility: hidden;
        transition: opacity .8s;
        opacity: 0;
    }

    &__listItem {
        margin: 1.5rem 0;
        padding: 1rem 3rem;
        background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 220%;
        transition: all .33s;

        &:hover {
            background-position: 100%;
            cursor: pointer;

            a {
                color: $color-primary;
            }
        }

        a {
            text-decoration: none;
            font-size: 2rem;
            letter-spacing: .1rem; 
            color: $color-grey-light-2;
            text-transform: uppercase;
            font-weight: 400;
            transition: all .33s;
        }
    }
}


/* media queries */
@media( max-width: 850px ) {
    .navigation__button {
        top: 3.1rem;
        right: 3.3rem;
    }
}